:root {
  /* ### Primary */
  --clr-primary: hsl(35, 77%, 62%);
  --clr-secondary: hsl(5, 85%, 63%);
  /* ### Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--off-white);
  position: relative;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.side {
  position: absolute;
  background-color: var(--off-white);
  width: calc(50% + 70px);
  height: 100%;
  right: 0;
  top: 0;
}
/* ------------------------------------------------- */
/* ------------------Header------------------------- */
/* ------------------------------------------------- */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  position: relative;
}
header nav img {
  cursor: pointer;
}
header nav img:nth-of-type(2) {
  padding: 2rem;
}
header nav ul {
  list-style: none;
}
header nav ul a {
  font-size: 1.4rem;
}
@media (max-width: 992px) {
  header nav ul {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    list-style: none;
  }
  header nav ul a {
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  nav img {
    display: none;
  }
  nav ul {
    display: flex !important;
    position: relative;
  }
  nav ul a {
    margin-right: 20px;
    transition: color 0.3s;
  }
  nav ul li:last-child a {
    margin: 0;
  }
  nav ul a:hover {
    color: var(--clr-secondary);
  }
}
/* ------------------------------------------------- */
/* ------------------Home------------------------- */
/* ------------------------------------------------- */
section {
  margin-bottom: 55px;
}
.home .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home .cover {
  background-image: url("../images/image-web-3-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 350px;
  flex-grow: 1;
  max-width: 100%;
}
.home h1 {
  font-size: 3rem;
  color: var(--very-dark-blue);
  padding-bottom: 1rem;
}
.home p {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
  padding-bottom: 1.1rem;
}
.home button {
  cursor: pointer;
  width: fit-content;
  padding: 0.7rem 2rem;
  background-color: var(--clr-secondary);
  border: 0;
  outline: 0;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  .home .cover {
    height: 250px;
  }
  .home article {
    display: flex;
    gap: 1rem;
  }
}
/* ------------------------------------------------- */
/* ------------------New------------------------- */
/* ------------------------------------------------- */
.new .container {
  background-color: var(--Very-dark-blue);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 350px;
}
.new h2 {
  color: var(--clr-primary);
  font-weight: 700;
}
.new p {
  color: var(--grayish-blue);
  padding-block: 10px 1rem;
  border-bottom: 1px solid var(--grayish-blue);
}
.new article:last-of-type p {
  border: 0;
}
