:root {
  /* ### Primary */
  --clr-primary: hsl(35, 77%, 62%);
  --clr-secondary: hsl(5, 85%, 63%);
  /* ### Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  /* typography */
  --fs-lg: 4rem;
  --fs-md: 2rem;
  /* spacing  */
  --spacing-xlg: 6rem;
  --spacing-lg: 4rem;
  --spacing-sm: 2rem;
  --spacing-xsm: 1.33rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--off-white);
  position: relative;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.side {
  position: absolute;
  background-color: var(--off-white);
  width: calc(50% + 70px);
  height: 100%;
  right: 0;
  top: 0;
}
/* ------------------------------------------------- */
/* ------------------Header------------------------- */
/* ------------------------------------------------- */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  position: relative;
}
header nav img {
  cursor: pointer;
}
header nav img:nth-of-type(2) {
  padding: 2rem;
}
header nav ul {
  /* display: none; */
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  list-style: none;
}
header nav ul a {
  margin-bottom: var(--spacing-sm);
  font-size: 1.4rem;
}
