:root {
  /* ### Primary */
  --clr-primary: hsl(35, 77%, 62%);
  --clr-secondary: hsl(5, 85%, 63%);
  /* ### Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  /* typography */
  --fs-lg: 4rem;
  --fs-md: 2rem;
  /* spacing  */
  --spacing-xlg: 6rem;
  --spacing-lg: 4rem;
  --spacing-sm: 2rem;
  --spacing-xsm: 1.33rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}
/* ------------------------------------------------- */
/* ------------------Header------------------------- */
/* ------------------------------------------------- */
